html { 
	overflow-x: hidden; 
}

body{
	background-color: #fdf2f2;
	font-family: 'Dosis', sans-serif;
	color: #3d3d3d;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
	position: relative;
	-webkit-font-smoothing: antialiased !important;	
	-moz-font-smoothing: antialiased !important;	
	-o-font-smoothing: antialiased !important;	
	font-smoothing: antialiased !important;
}

td{
	padding-right: 40px;
	padding-left: 10px;
	margin: 0px;
}

th{
	width: 80%;
	border-right: 1px solid #CF5656;
	font-family: 'Lato', sans-serif;
}

h1{
	font-size: 18px;
	font-style: bold;
	color: #CF5656;
	margin: 0;
	padding-bottom: 10px;
}

h2{
	font-size: 16px;
	font-style: bold;
	color: #EC8080;
}

h3{
	font-size: 13px;
	margin: 0;
	font-weight: normal;
}

h4{
	font-size: 15px;
	margin: 0;
	padding-bottom: 6px;
	padding-top: 6px;
}

area{
	outline:none;
}

#wraper{
}

#banner{
	padding-top: 60px;
	padding-bottom: 10px;
	width: auto;
    height: auto;
    display: block;
}

#bannerImage{
	display: none;
}

#bannerPrint{
	display: none;
}

#bannerImageDevice{
	display: block;
	margin-left: auto;
    margin-right: auto;
	position: center;
}

#bannerDevice{
	font-family: 'Muli', sans-serif;
	color: #550000;
	text-shadow: 0 0 0.2em #EC8080, 0 0 0.2em #EC8080;
	line-height: 0.8;
	text-align: center;
}

#bannerDevice a{
	text-decoration: none;
	color: #550000;
	text-shadow: 0 0 0.2em #EC8080, 0 0 0.2em #EC8080;
}

#name{
	font-size: 130%;
	font-style: bold;
}

#description{
	line-height: 1.1;
}

#about{
	background-color: #CF5656;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 15px;
	min-height: 8%;
}

#tableAbout{
	padding-top: 2%; 
	padding-left: 10px;
	padding-right: 20px;
	min-height: 7%;
}

#titleAbout{
	padding: 10px;
	color: #0f0f0f;
	width: 20%;
	font-family: 'Lato', sans-serif;
	text-align: center;
	vertical-align: middle;
    display: block;
}

#columnAbout{
	border-top: 1px solid #EC8080; 
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
	display: block;
	width: 100%;
	padding-bottom: 12px;
	position: relative;
	min-height: 90px;
}

#contentAbout{
	min-height: 90px;
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	color: #0f0f0f;
	text-align: left;
}

#footer{
	background-color: #CF5656;
	padding: 20px;
	display: block;
}

#tableFooter{
	padding-top: 5px; 
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 20px;
	height: auto;
	position: center;
}

#titleFooter{
	color: #0f0f0f;
	padding: 5px;
	width: 20%;
	font-family: 'Lato', sans-serif;
	text-align: center;
	vertical-align: middle;
    display: block;
}

#columnFooter{
	border-top: 1px solid #EC8080; 
	padding-top: 5px;
	padding-left: 10px;
	display: block;
	width: 100%;
	padding-bottom: 12px;
	position: relative;
	height: auto;
}

#nav{
	font-size: 12px;
 	height: 50px;
	overflow: hidden;
	background: rgba(85, 0, 0, .9);
	z-index: 100;
	box-shadow: 0 1px 4px rgba(49, 49, 64, 0.1);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
}

#navBar{
	color: rgba(239, 236, 238, 0.67);
	padding-top: 13px;
	width: 100%;
	position: left;
	margin:0;
}

ul#navBar {
	padding-top: 6px;
	margin:0px auto;
	position:left;
	float:left;
	padding-left: 0;
}

ul#navBar li.options {
	width: 55px;
	display:inline;
	margin: 0;
	padding:0;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 4px;
	float:left;
	position:left;
}

ul#navBar li.navBarContacts {
	width: 55px;
	display:inline;
	margin: 0;
	padding:0;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 4px;
	float:right;
	position:right;
}

ul#navBar li.navBarAI {
	width: 110px;
	display:inline;
	margin: 0;
	padding:0;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 4px;
	float:left;
	position:left;
}

ul#navBar li a{
	display: block;
	position: left;
	background: rgba(100, 0, 0, .9);
	color: rgba(239, 236, 238, 0.67);
	text-decoration: none;
	-webkit-transition:color 0.2s linear, background 0.5s linear;	
	-moz-transition:color 0.2s linear, background 0.5s linear;	
	-o-transition:color 0.2s linear, background 0.5s linear;	
	transition:color 0.2s linear, background 0.5s linear;	
}

ul#navBar li a:hover{
	background-color: rgba(239, 236, 238, 0.4);
	color: rgba(85, 0, 0, .9);
	font-style: bold;
}

ul#navBar li a:visited{
	color: rgba(239, 236, 238, 0.67);
}

ul#navBar li a:active{
	color: rgba(239, 236, 238, 0.67);
}

ul#footerMenu {
	margin:0px auto;
	position:right;
	border-left:auto;
	border-right:auto;
}

ul#footerMenu li {
	display:inline;
	margin: 0;
	padding:0;
	position:right;
}

ul#footerMenu li a{
	padding:20px 20px;
	text-decoration: none;
	-webkit-transition:color 0.2s linear, background 0.5s linear;	
	-moz-transition:color 0.2s linear, background 0.5s linear;	
	-o-transition:color 0.2s linear, background 0.5s linear;	
	transition:color 0.2s linear, background 0.5s linear;	
}

.anchor{
  display: block;
  height: 50px; 
  margin-top: -50px; 
  visibility: hidden;
}

.imgContacts{
	border: 2px solid #CF5656;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -khtml-border-radius: 40px;
    -webkit-border-radius: 40px;
    margin-right: 20px;
    margin-top: 20px;
    width: auto;
    height: auto;
}

.column{
	border-top: 1px solid #CF5656;
	padding-top: 5px;
	padding-left: 10px;
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 12px;
	position: relative;
	min-height: 250px;	
}

.leftColumn{
	float: left;
	text-align: left;
}

.title{
	padding: 5px;
	width: 80%;
	font-family: 'Lato', sans-serif;
	text-align: left;
	padding-left: 10px;
	vertical-align: middle;
    display: block;
}

.rightColumn{
	clear: both;
}

.row{
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
}

.row.newrow{
	padding-top: 30px;
}

.leftColumn.newColumn{
	width: 300px;
}

.section{
	min-height: 250px;
	background-color: #fdf2f2;
	padding: 10px;
	display: block;
	position: relative;

}

.content{
	padding: 20px;
	position: block;
}

.column.courses{
	padding-top: 5%;
}

.bulletPoint{
	color: #CF5656;
}

a.linkProjects {
	outline:none; 
	color: #550000;
	font-size: 12px;
}

a.linkProjects strong {
	line-height:30px;
}

a.linkProjects:hover {
	text-decoration:none;
} 

a.linkProjects span {
    display: none;
}




