html { 
	overflow-x: hidden; 
}

body{
	background-color: white;
	font-family: 'Lato', sans-serif;
	color: black;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	position: relative;
}

td{
	padding-right: 40px;
	padding-left: 10px;
	margin: 0px;
}

th{
	width: 80%;
	border-right: 1px solid #CF5656;
	font-family: 'Lato', sans-serif;
}

h1{
	font-size: 10px;
	font-weight: bold;
	color: black;
	margin: 0;
	padding-bottom: 3px;
	line-height: 1.1;
}

h2{
	font-size: 10px;
	color: black;
	font-style: none;
	font-weight: bold;
	line-height: 1.1;
}

h3{
	font-size: 10px;
	margin: 0;
	font-style: none;
	font-weight: normal;
	line-height: 1.1;
}

h4{
	font-size: 10px;
	margin: 0;
	padding-bottom: 3px;
	padding-top: 6px;
	font-weight: normal;
	line-height: 1.1;
}

area{
	outline:none;
}

#wraper{
}

#banner{
	padding-top: 0;
	padding-bottom: 5px;
	width: auto;
    height: auto;
    display: block;
}

#bannerPrint{
	font-family: 'Lato', sans-serif;
	color: black;
	line-height: 0.8;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 3px solid black;
}

#name{
	font-size: 130%;
	font-style: bold;
}

#description{
	line-height: 1.1;
}

.column{
	border-top: 1px dashed black;
	padding-top: 2px;
	padding-left: 10px;
	display: block;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 7px;
	position: relative;
	min-height: 100px;	
}

.leftColumn{
	float: left;
	text-align: left;
}

.title{
	padding: 5px;
	width: 80%;
	font-family: 'Lato', sans-serif;
	text-align: left;
	padding-left: 10px;
	vertical-align: middle;
    display: block;
}

.rightColumn{
	float: right;
}

.row{
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
}

.row.newrow{
	padding-top: 20px;
}

.leftColumn.newColumn{
	width: 380px;
}

.section{
	min-height: 100px;
	background-color: white;
	padding: 6px;
	display: block;
	position: relative;
}

.content{
	padding: 9px;
	position: block;
}

.column.courses{	
	padding-bottom: 0;
	margin-bottom: 0;
}

.bulletPoint{
	color: black;
}

#about{
	display: none;
}

#tableAbout{
	display: none;
}

#titleAbout{
	display: none;
}

#columnAbout{
	display: none;
}

#contentAbout{
	display: none;
}

#footer{
	display: none;
}

#tableFooter{
	display: none;
}

#titleFooter{
	display: none;
}

#columnFooter{
	display: none;
}

#nav{
	display: none;
}

#navBar{
	display: none;
}

ul#navBar {
	display: none;
}

ul#navBar li.options {
	display: none;
}

ul#navBar li.navBarContacts {
	display: none;
}

ul#navBar li.navBarAI {
	display: none;
}

ul#navBar li a{
	display: none;	
}

ul#navBar li a:hover{
	display: none;
}

ul#navBar li a:visited{
	display: none;
}

ul#navBar li a:active{
	display: none;
}

ul#footerMenu {
	display: none;
}

ul#footerMenu li {
	display: none;
}

ul#footerMenu li a{
	display: none;	
}

.anchor{
  display: none;
}

.imgContacts{
	display: none;
}

#bannerImage{
	display: none;
}

#bannerImageDevice{
	display: none;
}

#bannerDevice{
	display: none;
}

#bannerDevice a{
	display: none;
}

.linkProjects{
	display: none;
}

.projects{
	height: 220px;
}
.coursework{
	height: 90px;
}


